.services-simple-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
}

.services-banner {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.services-heading {
  
  text-align: center;
  color: #2980b9;
  margin-bottom: 10px;
}

.services-intro {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
}

.services-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.service-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ddd;
}

.service-item h3 {
  color: #27ae60;
  margin-bottom: 8px;
}
.service-item p{
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}

@media (min-width: 350px) and (max-width:1200px){
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-heading {
  font-size:1.2rem ;
 
}
.services-intro {
  
  font-size: 0.8rem;
  
}
.service-item h3 {
  font-size: 0.9rem;
 
}
.service-item p{
    font-size: 0.8rem;
   
}

}
